<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Install <%= name %></title>
  </head>
  <body>
    <style type="text/css">
      * {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
        background-color: #ffffff;
      }
      .oneRow {
        width: 100%;
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-align: center;
      }
      .download {
        margin: 30px;
        font-size: 130%;
      }
      #appIcon {
        -webkit-border-radius: 22.544%;
        -moz-border-radius: 22.544%;
        -ms-border-radius: 22.544%;
          border-radius: 22.544%;

        margin-bottom: 30px;
      }
      a {
        text-decoration: none;
        color: blue;
      }
      a:hover {
        text-decoration: underline;
      }
      #footnote {
        color: #737373;
        font-size: 14px;
      }
      #finished { display: none; }
      #logo  {
        text-align: center;
        max-width: 150px;
        margin-top: 10px;
      }
    </style>
    <h1 style="text-align: center;"><%= name %></h1>
    <!-- <img src="app_icon.png" id="appIcon"> -->

    <div class="oneRow">
      <span class="download" id="ios">
        <a href="filledlater" id="ios-link" class="btn btn-lg btn-default" onclick="document.getElementById('finished').id = '';">
          Install <%= name %> <%= full_version %>
        </a>
        <br>
        <p>Uploaded on <%= Time.now.strftime('%e %b %Y %H:%M') %></p>
      </span>
    </div>
    <h3 id="desktop">Please open this page on your iPhone!</h3>
    <div id="finished">
        <p>App is being installed. You may close the browser.</p>
    </div>

    <p id="footnote">
      This is a beta version and is not meant to share with the public.
    </p>
    <img src="<%= logo_url %>" id="logo" />
  </body>
  <script type='text/javascript'>
    if (/iPhone|iPad|iPod/i.test(navigator.userAgent))
    {
      document.getElementById("desktop").remove()
      var itmsUrl = "itms-services://?action=download-manifest&url="
      var plistUrl = document.baseURI.replace(/\/$/, "").replace(/\/index\.html$/, "")
      plistUrl = plistUrl + "/mapop.plist"
      document.getElementById("ios-link").setAttribute('href', itmsUrl + plistUrl)
    }
    else
    {
      document.getElementById("ios").remove()
    }
  </script>
</html>
